{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
<div class="page-header">

    <h1>Компанія "Позитив" вітає вас {{ user.username }}!</h1>
    {% else %}
    <h1>Компанія "Позитив" вітає вас!</h1>
    {% endif %}
</div>

<div class="row placeholders">
    <div class="col-xs-12 col-sm-6 placeholder">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Нещодавно записались:</h3>
            </div>
        </div>
        {% if persons %}
        <ul class="list-group">
            {% for person in persons %}
            <li class="list-group-item"><a href="{% url 'person' person.slug %}">{{ person.last_name }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}